<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      app clipped fixed overflow
      :mini-variant="mini"
      @mouseover.native="mini=false"
      @mouseleave.native="mini=true"
    >
     <v-list dense>
       <v-list-tile v-for="(page, i) in pages" :key="page.id" :to="page.page">
         <v-list-tile-action>
           <v-icon>{{page.icon}}</v-icon>
         </v-list-tile-action>

         <v-list-tile-content>
           <v-list-tile-title>{{page.text}}</v-list-tile-title>
         </v-list-tile-content>
       </v-list-tile>
     </v-list>
   </v-navigation-drawer>

    <v-toolbar app clipped-left>
      <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title class="headline text-uppercase">
        <span class="font-weight-light">D.S.</span>
        <span>MAGRUDER</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <v-content>
        <nuxt />
    </v-content>

    <v-footer class="pa-3" app>
      <v-spacer></v-spacer>
      <div>&copy; {{ new Date().getFullYear() }}</div>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    mini: true,
    drawer: false,
    pages: [
      {
        page: '/',
        text: 'Home',
        icon: 'home',
      },
      {
        page: '/about',
        text: 'About',
        icon: 'account_circle',
      },
      {
        page: '/curriculum-vitae',
        text: 'C.V.',
        icon: 'list_alt',
      }
    ]
  })
}
</script>


<style>
.poiret-one {
  font-family: 'Poiret One' !important;
}
</style>
