<template >
  <v-container transition="fade-transition" row wrap>
    <v-layout row wrap justify-center align-center>
        <v-avatar class="d-flex" :size="$vuetify.breakpoint.smAndDown ? 200 : 400">
          <v-img :src="require(`@/static/about/images/avatar.jpeg`)"
            position="45% 25%"

          />
        </v-avatar>
    </v-layout>

    <v-layout row wrap justify-center align-center>

    <v-flex xs10 md12>
      <v-timeline :dense="$vuetify.breakpoint.smAndDown">
        <v-timeline-item color="white" large v-for="(time, i) in timeline" :key="i" small>
          <span slot="opposite" class="headline font-weight-bold text-xs-left" v-text="time.year"></span>
          <template v-if="time.img" class="v-timeline-item__dot--x-large"  slot="icon">
            <v-img
              class="v-timeline-item__dot--x-large"
              :class="{'circle-mask': time.mask}"
              :src="require(`@/static/about/images/${time.img}`)"
            />
          </template>
          <v-card class="elevation-2">
            <v-card-title class="headline font-weight-light">{{time.head}}</v-card-title>
            <v-card-text v-if="time.text" class="text-xs-left">
              {{time.text}}
            </v-card-text>
          </v-card>
        </v-timeline-item>
      </v-timeline>
    </v-flex>
  </v-layout>

  </v-container>
</template>

<script>
import timeline from '@/assets/about/timeline.js';
timeline.reverse()
export default {
  name: 'About',
  data: () => ({
    timeline: timeline,
    aimg: 400,
    dense: false
  }),
  methods: {
    img(img) {
      return '@/assets/about/images/'+img
    },
    onResize() {
      let isSmall = window.innerWidth < 600 ? true : false

      this.aimg = isSmall ? 200 : 400
      this.dense = isSmall
    }
  }

}
</script>

<style>
.v-timeline-item__dot--x-large {
    height: 100px !important;
    /* left: calc(50% - 50px); */
    width: 100px !important;;
}

.circle-mask {
  border-radius: 50% !important;
}

.v-timeline-item__body {
    position: relative !important;
    height: 100% !important;
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 100% !important;
    flex: 1 1 100% !important;
    max-width: calc(50% - 100px) !important;
}

.v-timeline-item:nth-child(2n+1):not(.v-timeline-item--right) .v-timeline-item__opposite, .v-timeline-item--left .v-timeline-item__opposite {
    margin-left: 200px !important;
    text-align: left !important;
}
.v-timeline-item:nth-child(2n):not(.v-timeline-item--left) .v-timeline-item__opposite, .v-timeline-item--right .v-timeline-item__opposite {
    margin-right: 200px !important;
    text-align: right !important;
}

.v-timeline--dense .v-timeline-item__body {
    max-width: calc(100% - 100px) !important;
}
</style>
