<template>
  <v-fade-transition>
    <v-container  grid-list-lg>

      <section class="my-5">
        <h2 class="black--text display-3 text-xs-center font-weight-thin font-italic poiret-one">Curriculum Vit&#230;</h2>
        <v-tabs slot="extension" v-model="tab" grow show-arrows>
          <v-tabs-slider></v-tabs-slider>
          <v-tab v-for="tab in tabs" :key="tab">{{ tab }}</v-tab>
        </v-tabs>
      </section>



      <v-tabs-items v-model="tab">
        <v-tab-item :key="tabKey('Publications')">
          <v-layout text-xs-left row wrap>
            <v-flex xs12 v-for="pub in scientific" :key="pub.id">
              <Publication v-bind="pub"/>
            </v-flex>
          </v-layout>
        </v-tab-item>


        <v-tab-item :key="tabKey('Posters')">
          <v-layout text-xs-left row wrap>
            <v-flex xs12 lg6 v-for="poster in posters" :key="poster.id">
              <Poster v-bind="poster"/>
            </v-flex>
          </v-layout>
        </v-tab-item>

        <v-tab-item :key="tabKey('Course Work')">
          <v-layout text-xs-left row wrap>
            <v-flex xs12 v-for="pub in coursework" :key="pub.id">
              <Publication v-bind="pub"/>
            </v-flex>
          </v-layout>
        </v-tab-item>

        <v-tab-item :key="tabKey('Skills')">
          <v-layout text-xs-left row wrap>
            <Skill v-for="skill in skills" :key="skill.id" v-bind="skill"/>
          </v-layout>
        </v-tab-item>

        <v-tab-item :key="tabKey('Grants')">
          <v-layout text-xs-left row wrap>
            <v-flex xs12 v-for="grant in grants" :key="grant.id">
              <Grant v-bind="grant"/>
            </v-flex>
          </v-layout>
        </v-tab-item>

        <v-tab-item :key="tabKey('Awards')">
          <v-layout text-xs-left row wrap>
            <v-flex xs12 v-for="award in awards" :key="award.id">
              <Grant v-bind="award"/>
            </v-flex>
          </v-layout>
        </v-tab-item>



        <v-tab-item :key="tabKey('Societies')">
          <v-layout text-xs-left row wrap>
            <v-chip v-for="society in societies" :key="society.id">
              {{society.abbr}}
            </v-chip>
          </v-layout>
        </v-tab-item>




      </v-tabs-items>

    </v-container>
  </v-fade-transition>

</template>

<script>
import Publication from '@/components/CV/Publication.vue';
import Poster from '@/components/CV/Poster.vue';
import Skill from '@/components/CV/Skill.vue';
import Grant from '@/components/CV/Grant.vue';

import publications from '@/assets/curriculum-vitae/data/publications.js';
import posters from '@/assets/curriculum-vitae/data/posters.js';
import skills from '@/assets/curriculum-vitae/data/skills.js';
import awards from '@/assets/curriculum-vitae/data/awards.js';
import grants from '@/assets/curriculum-vitae/data/grants.js';
import societies from '@/assets/curriculum-vitae/data/societies.js';

publications.sort((a, b) => (b.year - a.year))
let scientific = publications.filter(p => p.type !== 'coursework')
let coursework = publications.filter(p => p.type === 'coursework')



posters.sort((a, b) => (b.year - a.year))
skills.sort((a, b) => (a.skill-b.skill))
awards.sort((a, b) => (b.year - a.year))
grants.sort((a, b) => (b.year - a.year))

export default {
  name: 'CurriculumVitae',
  components: {Publication, Poster, Skill, Grant},
  data: () => ({
    scientific, posters, coursework, skills, grants, awards, societies,
    tab: 0,
    tabs: [
      'Publications', 'Posters', 'Course Work', 'Skills', 'Grants',
      'Awards', 'Societies'
    ]
  }),
  methods: {
    tabKey(val) {
      return this.tabs.indexOf(val)
    }
  }
}
</script>

<style>

</style>
