<template>
  <v-container>
    <v-layout column  >
      <div class="text-xs-right font-italic">
        <h2 class="display-1 font-weight-thin poiret-one">
          "My strength lies solely in my tenacity"
          <!-- <v-splitter /> -->
        </h2>
        <span class="subheading font-weight-thin poiret-one">~Louis Pasteur</span>
      </div>

      <v-img contain height="400" :src="img"> </v-img>
    </v-layout>
  </v-container>
</template>

<script>
// import {VSplitter} from 'v-splitter'

export default {
  components: {
    // 'v-splitter': () => import('v-splitter').then(module=>{console.log(module)})
  },
  computed: {
    img() {
      return require('@/static/SumNeuron.svg')
    }
  }

}
</script>
