<template>
<!-- <v-list> -->
<span>
  <span v-for="(author, i) in authors" :key="author.id">
    <a v-if="author.url" :href="author.url"
      :class="{'font-weight-bold': author.name===emphasize}"
    >{{author.name}}</a>
    <span v-else :class="{'font-weight-bold': author.name===emphasize}">{{author.name}}</span>
    <span v-if="authors.length > 1 && i < authors.length-2">,&nbsp;</span>
    <span v-if="authors.length > 1 && i === authors.length-2">&nbsp;&amp;&nbsp;</span>
  </span>
</span>
<!-- </v-list> -->
</template>

<script>
export default {
  name: 'AuthorList',
  props: [
    'authors', 'emphasize'
  ]
}
</script>
