<template>
  <v-card height="100%">
    <v-toolbar card>
      <v-toolbar-title>
        <a v-if="url" :href="url">{{title}}</a>
        <span v-else>{{title}}</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-card-actions>
        <v-tooltip bottom>
          <v-btn slot="activator" v-if="purpose" flat icon @click="show = !show">
            <v-icon>{{ show ? 'keyboard_arrow_up' : 'subject' }}</v-icon>
          </v-btn>
          <span>about</span>
        </v-tooltip>
      </v-card-actions>
    </v-toolbar>


    <v-slide-y-transition>
      <v-card-text v-show="show">
        <div class="subheading">About</div>
        {{purpose}}
      </v-card-text>
    </v-slide-y-transition>

    <v-card-text>
      <div class="">
        <span class="subheading" v-if="provider">{{provider}}</span>
        <span v-if="provider">&nbsp;</span>

        <span v-if="year">({{year}})</span>
        <span v-if="year">&nbsp;</span>
      </div>
      <div class="">
        <span v-if="institute">{{institute}}</span>
        <span v-if="institute">&nbsp;</span>
      </div>




    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'Publication',
  props: [
    'title',
    'provider',
    'purpose',
    'year',
    'month',
    'institute',
    'url'
  ],
  data: () => ({
    show: false
  })
}
</script>
