<template>
  <v-card tile class="ma-2" height="100%">
    <v-toolbar card>
      <v-toolbar-title>
      <span class="title">{{title}}</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-card-actions>
        <v-tooltip bottom>
          <v-btn slot="activator" flat icon :href="downloadURL" target="_blank" :download="downloadName"><v-icon>get_app</v-icon></v-btn>
          <span>download</span>
        </v-tooltip>
      </v-card-actions>
    </v-toolbar>

    <v-img
      contain
      :src="require(`@/static/curriculum-vitae/files/posters/${preview}`)"
      aspect-ratio="2"
      height="200px"

    >
    </v-img>

    <v-card-text>
      <AuthorList :authors="authors" emphasize="Daniel Sumner Magruder"/>.
      &nbsp;
      <div class="">
        <span>{{publisher}}: {{journal}} ({{year}})</span>
      </div>
    </v-card-text>


  </v-card>

</template>

<script>
import AuthorList from '@/components/CV/AuthorList.vue'
export default {
  name: 'Poster',
  components: {AuthorList},
  props: [
    'title', 'authors', 'journal', 'journal abbreviation', 'publisher', 'year', 'month', 'day',
    'volume', 'issue', 'pages', 'page', 'pmid', 'issn', 'pmcid', 'doi',
    'type', 'url', 'abstract', 'preview', 'pdf', 'filename'
  ],
  computed: {
    downloadURL() {
      return this.pdf !== undefined
        ? this.pdf
        :`/curriculum-vitae/files/posters/${this.filename}`
        // : require(`@/static/curriculum-vitae/files/posters/${this.filename}`)
    },
    downloadName() {
      return this.title.split(' ').join('_') + '.pdf'
    }
  }
}
</script>
