<template>
  <v-card height="100%">

    <v-toolbar card>
      <v-toolbar-title>
        <a v-if="url" :href="url" target="_blank">{{title}}</a>
        <span v-else>{{title}}</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-card-actions>

        <v-tooltip bottom v-if="!(type==='unpublished' || type==='preprint' || type==='coursework')">
          <v-btn color="primary" slot="activator" flat icon>
            <v-icon>how_to_reg</v-icon>
          </v-btn>
          <span>peer reviewed</span>
        </v-tooltip>

        <v-tooltip bottom>
          <v-btn slot="activator" flat icon :href="downloadURL" target="_blank" :download="downloadName"><v-icon>get_app</v-icon></v-btn>
          <span>download</span>
        </v-tooltip>

        <v-tooltip bottom>
          <v-btn slot="activator" v-if="abstract" flat icon @click="show = !show">
            <v-icon>{{ show ? 'keyboard_arrow_up' : 'subject' }}</v-icon>
          </v-btn>
          <span>abstract</span>
        </v-tooltip>
      </v-card-actions>

    </v-toolbar>




    <v-slide-y-transition>
      <v-card-text v-show="show">
        <div class="subheading">Abstract</div>
        {{abstract}}
      </v-card-text>
    </v-slide-y-transition>

    <v-card-text>
      <div>
        <AuthorList :authors="authors" emphasize="Daniel Sumner Magruder"/>
      </div>
      <div>
        <span v-if="journal">{{journal}}</span>
        <span v-if="journal">&nbsp;</span>

        <span v-if="year">({{year}})</span>
        <span v-if="year">&nbsp;</span>

        <span v-if="volume">vol. {{volume}}</span>
        <span v-if="volume && !issue">&nbsp;</span>

        <span v-if="issue">:{{issue}}</span>
        <span v-if="issue">&nbsp;</span>

        <span v-if="page">pp. {{page}}</span>
        <span v-if="page">.&nbsp;</span>
      </div>
      <v-layout row wrap>
        <v-flex>
          <span v-if="doi">DOI: <a :href="'https://doi.org/'+doi">{{doi}}</a></span>
        </v-flex>
        <v-flex>
          <span v-if="issn">issn: {{issn}}</span>
        </v-flex>

      </v-layout>
    </v-card-text>


  </v-card>
</template>

<script>
import AuthorList from '@/components/CV/AuthorList.vue'
export default {
  name: 'Publication',
  components: {AuthorList},
  props: [
    'title', 'authors', 'journal', 'journal abbreviation', 'year', 'month', 'day',
    'volume', 'issue', 'pages', 'page', 'pmid', 'issn', 'pmcid', 'doi',
    'type', 'url', 'abstract', 'filename'
  ],
  data: () => ({
    show: false,
  }),
  computed: {
    downloadURL() {
      console.log('pub', this.title, this.pdf, this.filename)
      return this.pdf !== undefined
        ? this.pdf
        : `/curriculum-vitae/files/papers/${this.filename}`
        // : require(`@/static/curriculum-vitae/files/papers/${this.filename}`)
    },
    downloadName() {
      return this.title.split(' ').join('_') + '.pdf'
    }
  }
}
</script>
