<template>
  <v-chip>
    <v-icon left>{{icon}}</v-icon>
    {{skill}}
  </v-chip>

</template>

<script>
// import sicons from 'simple-icons'
// const skills = Object.keys(sicons)
Date.daysBetween = function( date1, date2 ) {
  //Get 1 day in milliseconds
  var one_day=1000*60*60*24;

  // Convert both dates to milliseconds
  var date1_ms = date1.getTime();
  var date2_ms = date2.getTime();

  // Calculate the difference in milliseconds
  var difference_ms = date2_ms - date1_ms;

  // Convert back to days and return
  return Math.round(difference_ms/one_day);
}


export default {
  name: 'Skill',
  props: [
    'skill',
    'category',
    'tags',
    'started',
    'stopped',
    'icon',
  ],
  data: () => ({
  }),
  computed: {
    duration() {
      let stopped = this.stopped ? this.toDate(this.stopped): new Date()
      let started = this.started ? this.toDate(this.started): new Date()
      return Date.daysBetween(started, stopped)
    }
  },
  methods: {
    toDate(dateString) {
      let list =  dateString.split(' ')
      let month, day, year
      month = list[0]
      day = list[1]
      year = list.length > 2 ? list[2] : '1993'
      return new Date(year, month, day)
    }
  }
}
</script>

<style>

</style>
